.counter {
    margin-top: 25px;
    padding: 20px 20px;
    width: 400px;

    background: #f7f7f7;
    border-radius: 4px;

    text-align: center;

    @media  (max-width: 992px) {
       width: 100%;
    }

    & >  h1 {
        font-size: 22px;
        & > span {
            font-size: 72px;
        }
    }
}