.modal {
  &_hide {
    display: none;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    width: 300px;
    height: 200px;

    background-color: #fff;
    position: absolute;

    left: 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);

    border-radius: 5px;

    & > span {
      color: green;
      font-size: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform:translateX(-50%) translateY(-50%);
    }
  }
}
