.breadcrumb {
  margin-top: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;

    &:not(:last-child)::after {
      content: '/';
      float: right;
      font-size: .8em;
      margin: 0 .5em;
      color: #000;
      cursor: default;
    }
  }

  &__linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    color: #909090;

    &:hover {
      color: #5096b1
    }
  }
}