//Общий сброс
@import "../components/SearchSelect/searchselect";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

main {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.content {
  width: 100%;
  padding: 10px 20px;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

//Дкфолт размер иконок
.material-icons {
  font-size: 16px;
}

//Уведомления
.curent-page-notify {
  margin: 0 5px 5px;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;

  background: #65a3be !important;
  border-left: 5px solid #4a778a;

  right: 0;
}

.vue-notification-group {
  top: 84px !important;
}

